@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /* app colors */
  --color-slate-50: #f8fafc;
  --color-slate-100: #f1f5f9;
  --color-slate-200: #e2e8f0;
  --color-slate-300: #cbd5e1;
  --color-slate-400: #94a3b8;
  --color-slate-500: #64748b;
  --color-slate-600: #475569;
  --color-slate-700: #334155;
  --color-slate-800: #1e293b;
  --color-slate-900: #0f172a;

  --color-primary-50: #f0fdf4;
  --color-primary-100: #dcfce7;
  --color-primary-200: #bbf7d0;
  --color-primary-300: #86efac;
  --color-primary-400: #4ade80;
  --color-primary-500: #22c55e;
  --color-primary-600: #16a34a;
  --color-primary-700: #15803d;
  --color-primary-800: #166534;
  --color-primary-900: #14532d;

  --color-secondary-50: #ecfdf5;
  --color-secondary-100: #d1fae5;
  --color-secondary-200: #a7f3d0;
  --color-secondary-300: #6ee7b7;
  --color-secondary-400: #34d399;
  --color-secondary-500: #10b981;
  --color-secondary-600: #059669;
  --color-secondary-700: #047857;
  --color-secondary-800: #065f46;
  --color-secondary-900: #064e3b;

  --color-black: #222;
  --color-dark: #252a2f;
  --color-white: #ffffff;
  --color-snow: #f8f8ff;
  --color-yellow: #fbae05;
  --color-orange: #ff8c39;
  --color-red: #ef5a56;
  --color-blue: #3784fb;
}

@layer components {
  .input {
    @apply w-full px-8 py-2 border border-slate-600 bg-gray-50 text-slate-900 rounded-lg outline-none text-lg focus:ring-2 focus:ring-primary-500 focus:border-primary-500 transition-colors duration-200 md:text-sm;
  }

  .login-button {
    @apply w-full bg-primary-500 text-white px-6 py-2 rounded-lg font-medium hover:bg-primary-600 text-xl transition-colors cursor-pointer;
  }

  .primary-button {
    @apply bg-primary-500 text-white px-6 py-1 rounded-lg font-medium hover:bg-primary-600 text-xl transition-colors cursor-pointer md:text-sm md:px-4;
  }

  .secondary-button {
    @apply bg-gray-100 text-gray-800 px-6 py-2 rounded-lg font-medium hover:bg-gray-200 text-xl transition-colors cursor-pointer;
  }

  .wrapper {
    @apply w-full h-[60%] justify-center px-8 flex flex-col gap-2.5 md:w-[50%] md:px-14 md:gap-4;
  }

  .active {
    @apply bg-green-400 text-white;
  }

  .icon {
    @apply w-5 h-5;
  }

  .action {
    @apply flex items-center gap-2.5 bg-primary-500 text-white py-1.5 px-3 rounded-full cursor-pointer hover:bg-secondary-500;
  }
}

::-webkit-scrollbar {
  display: none;
}
